<h2>Search for a stock symbol</h2>

<form action="/stocks/info">
    <label>
        Stock symbol:
        <input name="symbol" placeholder="GOOG" required autofocus>
    </label>

    <button>Search</button>
</form>