<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Layout Demo</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div class="container">
        <header>
            <nav>
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">FAQ</a>
                <a href="#">Contact</a>
            </nav>
            <h1>Title</h1>
        </header>

        <main>
            <h2>Content Goes Here</h2>
            <img src="http://www.fillmurray.com/400/600" alt="Bill Murray's head">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad maxime repellendus, fuga error fugit quidem pariatur, iusto, rerum nam veritatis delectus aspernatur ea nulla repellat eveniet aliquam deleniti quo cum!</p>
            <p>At unde, corrupti perferendis doloribus, similique dolor quibusdam, ullam eligendi inventore quas quasi harum nobis fugit nemo deserunt et non quis neque quidem eius! Fugiat, nesciunt! Explicabo cum consequuntur quos!</p>
            <p>Pariatur cum officiis odit eaque. Consectetur, eum perferendis nam ab deserunt corrupti veniam nobis, distinctio ut explicabo eius. A quis possimus voluptatem libero harum iste incidunt fuga corrupti, minima eum!</p>
        </main>

        <aside>
            <h3>Fun Facts</h3>
            <ul>
                <li>Groucho</li>
                <li>Harpo</li>
                <li>Chico</li>
                <li>Gummo</li>
            </ul>
        </aside>
    </div>
    
</body>
</html>