<form action="/result">
    <label>
        First number:
        <input type="number" name="x" step="any" required>
    </label>

    <label>
        Operator:
        <input name="operator" required>
    </label>

    <label>
        Second number:
        <input type="number" name="y" step="any" required>
    </label>

    <button>Calculate</button>
</form>