<h1>A Blog About Jellyfish</h1>

<div class="post">
    <h2>First Post</h2>
    <h3 class="author">Some Author</h3>
    <div class="content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum porro maxime magnam in facere illo sed, sequi quo rem, similique at alias voluptatem aspernatur quis obcaecati deleniti iure accusantium dolore.</p>
        <p>Consectetur est iusto aperiam cum eos ex quidem velit vel similique. Officiis obcaecati enim architecto? In iusto aperiam mollitia dolor reprehenderit! Minima consequuntur sapiente, natus asperiores necessitatibus ipsa vitae in.</p>
    </div>
</div>

<div class="post">
    <h2>Second Post</h2>
    <h3 class="author">Some Author</h3>
    <div class="content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum porro maxime magnam in facere illo sed, sequi quo rem, similique at alias voluptatem aspernatur quis obcaecati deleniti iure accusantium dolore.</p>
        <p>Consectetur est iusto aperiam cum eos ex quidem velit vel similique. Officiis obcaecati enim architecto? In iusto aperiam mollitia dolor reprehenderit! Minima consequuntur sapiente, natus asperiores necessitatibus ipsa vitae in.</p>
    </div>
</div>

<div class="post">
    <h2>Third Post</h2>
    <h3 class="author">Some Author</h3>
    <div class="content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum porro maxime magnam in facere illo sed, sequi quo rem, similique at alias voluptatem aspernatur quis obcaecati deleniti iure accusantium dolore.</p>
        <p>Consectetur est iusto aperiam cum eos ex quidem velit vel similique. Officiis obcaecati enim architecto? In iusto aperiam mollitia dolor reprehenderit! Minima consequuntur sapiente, natus asperiores necessitatibus ipsa vitae in.</p>
    </div>
</div>

<div class="post">
    <h2>Fourth Post</h2>
    <h3 class="author">Some Author</h3>
    <div class="content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum porro maxime magnam in facere illo sed, sequi quo rem, similique at alias voluptatem aspernatur quis obcaecati deleniti iure accusantium dolore.</p>
        <p>Consectetur est iusto aperiam cum eos ex quidem velit vel similique. Officiis obcaecati enim architecto? In iusto aperiam mollitia dolor reprehenderit! Minima consequuntur sapiente, natus asperiores necessitatibus ipsa vitae in.</p>
    </div>
</div>

<hr>

<div class="notification">
    This is a notification
</div>

<div class="error">
    This is error
</div>

<div class="success">
    This is success
</div>