<h2>Search for a book</h2>

<form action="/books/info">
    <label>
        Book title:
        <input name="title" placeholder="Jaws" required autofocus>
    </label>

    <button>Search</button>
</form>